@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');


*{ box-sizing:border-box;margin: 0;
  padding: 0;
  // list-style: none;
  text-decoration: none;}
html,body {margin:0; padding:0;scroll-behavior: smooth;font-family: 'Noto Sans', sans-serif;}
ul,li {margin:0; padding:0; list-style:none;}
a {text-decoration:none;}
h1,h2,h3,h4,h5,h6,p {margin:0; padding:0;}
figure{margin:0; padding:0;}
table{border-collapse: collapse;}
fieldset{border:none;}
img{
  // image-rendering: -moz-crisp-edges; /* firefox */
  // image-rendering: -o-crisp-edges; /* opera */
  // image-rendering: -webkit-optimize-contrast; /* chrome(비표준) */
  // -ms-interpolation-mode: nearest-neighbor;
  // image-rendering: crisp-edges;
  // transform: translateZ(0);
  // backface-visibility: hidden;
  image-rendering:-webkit-optimize-contrast;
  transform:translateZ(0);
  backface-visibility:hidden;
  -webkit-perspective: 1;
}


button{cursor: pointer;}

/*공통 css*/

$glmint:#00b2a9;
$glnavy:#052A4A;
$clwhite : #fff;
$clblck : #000;
$textnormal: #111;
$cl2c: #2c2c2c;
$cl66:#666;
$cl95 : #959595;
$clf6: #f6f6f6;
$clab: #ababab;
$cl55: #555;
$cl99: #999;
$clcc:#ccc;
$clee:#eee;
$cldd:#ddd;
$clee : #eee;
$clf1:#f1f1f1;
$clf8:#f8f8f8;
$pointpurple:#746AE8;
$pointred: #E4404D;
$softmint: #bae1df;
$basecolor:#ebf9f7;

.txtc {text-align: center !important;}
.txtr {text-align: right !important;}
.ma10 {margin:10px auto !important;}
.ma20 {margin:20px auto !important;}
.mr10{margin-right:10px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.mt30 {margin-top:30px !important;}
.mt10 {margin-top:10px !important;}
.mb20 {margin-bottom:20px !important}
.w80 {width:80px !important;}
.w100 {width:100px !important;}
.w200 {width: 200px !important;}

.width70 {width:70% !important;}
.width80 {width:80% !important;}
.width100 {width:100% !important;}

.pa10 {padding:10px 0 !important;}
.pa20 {padding:20px 0 !important;}

.pre {white-space: pre-line;}

.point{color:$pointred; font-weight: bold;}

.back_point{background:#ffe6e7; font-weight: bold; padding:0 3px;}

@mixin layout($w,$m,$pa) {
    width:$w;
    margin:$m;
    padding:$pa;
}
@mixin display($dis,$jucon,$align) {
    display:$dis;
    justify-content:$jucon;
    align-items: $align;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    // flex:1;  
}

//공통

html,body{height:100%;}
body{
  text-align: left; 
  font-size:16px;
  margin:0 auto;  
  background:#F1F1F1;
}

.maxwidth{
  width:100%;
  margin:0 auto;
  max-width:1280px;
  min-width:auto;
}

.none{display: none;}
a{color:$cl55;}

input[type=text]{
  background: $clwhite;
  border:1px #ccc solid;  
  border-radius: 5px;;
  height:30px;
  font-size: 16px;

}




.btn{
  background:$glnavy;
  border:none;
  display: inline-block;  
  margin:10px 0;
  color:$clf1;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn_point{background: $glmint;;}
.btn_search{background:$glnavy; width:100px; border-radius: 20px; height:30px;}
.btn_excel{background:$glmint; width:100px; border-radius: 20px; height:30px;}


.btn_more{
  background:$clwhite;
  border:1px solid $clcc;
  display: inline-block;
  width:70%;
  max-width: 350px;
  padding:10px 0;
  margin:20px 0;
  color:$clcc;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .2rem;
  a{  color:$clab;}

}


.btn_2set{
  @include display(flex,space-between,center);
  margin:15px auto;
  >button{width:49%;}
  
}
.btn_1set{
  @include display(flex,center,center);
  margin:15px 0;
  >button{width:100%;}
}

select{
  background: #fff;
  border: 1px #ccc solid;
  border-radius: 5px;
  height: 30px;
  padding:5px 15px;
  vertical-align: baseline;
  font-size: 14px;
}


// x

.navi{
  @include display(flex,center,center );
  @include layout(100%,20px auto,0);
  li{
    margin:0 10px;
    @include display(flex,center,center);
    &.on{
      background:$glnavy;
      border-radius:50%;
      width:25px; height:25px;
      color: $clwhite;
      font-weight: bold;
      a{color:$clwhite}
    }
  }
}

//header
header{
  position: fixed;
  width:100%;
  top:0;left:0;
  z-index: 9;
}
.head{
  @include display(flex,flex-start,center);
  @include layout(100%,0 auto,0px);
  min-width: 1920px;
  background:$clwhite;
  padding-left:20px;
  border-bottom: 1px solid #ccc;
  height:60px;
  >h1{
    line-height: 30px;
    img{
      max-width:140px;
      vertical-align: middle;
    }    
  }
  ul{

    margin-left:10px;
    @include display(flex,flex-start,center);
    li{margin:0 5px;}
    .logout{
      text-decoration: underline;
      text-decoration-color: $pointred;
        a{
          color:$pointred;
        }
      
    }      

  }
}
main{
  @include display(flex,flex-start,flex-start);
  flex-wrap: nowrap;
  position: relative;
  width:100%;
  height:100%;
  max-width:1920px;

}



//로그인페이지
.login{
  @include layout(60%,0 auto,0);
  min-width: 600px;
  max-width:600px;
  height:80vh;
  border-radius: 20px;
  position: absolute;
  left:50%; top:50%;
  transform: translate(-50%,-50%);
  background:$clwhite;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow:  rgba(0,0,0,0.1) 6px 6px 10px;

  input[type=text],button{
    width:100%;
    height:60px;
    text-align: center;
    font-size: 18px;
  }

  h2{
    img{
      width:100%; 
      max-width: 150px; 
      display: block; 
      text-align: center;
      margin:0 auto;
    }
  }
  ul{@include layout(55%,0 auto,0);}
  >ul{
    li{
      margin:20px 0;
      label{display: block; margin-bottom:5px; color:#555;}
    }
  }
  ul.info{
    @include display(flex,space-between,center);    

    li{
      position: relative;
      i{
        background-image: url(../img/icon_set.png);            
        background-position: -0px -0px;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 26px;
        margin-bottom:5px;
      }
      
      &:nth-of-type(1){i{background-position: -150px -0px;}}
      &:nth-of-type(2){i{background-position: -176px -0px;}}
    }
    
  }
}


//인덱스 쿠폰조회 
//좌측
.main_left{  
  width:230px;
  min-height:100%;
  background:$clwhite;
  border-right:1px #ccc solid;
  position: absolute;
  left:0; top:0;
  z-index: 3;
  margin-top:60px;

  .main_menu{
    @include layout(100%,10px auto,0);
    text-align: center;
    div.brand_info{      
      z-index: 3;
      margin-bottom:30px;    
      img{
        border-radius: 50%;
        width:100%;
        max-width:140px;
        vertical-align: middle;
        margin: 0 auto;
        border:1px solid #ccc;
        margin-bottom:10px;
      }
      .branch{
        width: 80%; 
        word-break: keep-all;      
        margin: 0 auto;
        font-weight: bold;
        border-bottom:1px solid #eee;
        padding:5px 0;
      }
    }
    ul.menu_first{
      z-index: 33;
      >li{
        >a{
          font-size: 20px;
          font-weight: bold;
          color: $textnormal;
          text-align: left;
          margin-left:20px;
          i{
            background-image: url(../img/icon_set.png);            
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 26px;                              
            margin-right:5px;
          }
        }
        &:nth-of-type(1)a{i{background-position: -0px -0px;}}
        &:nth-of-type(2)a{i{background-position: -35px -0px;}}
        &:nth-of-type(3)a{i{background-position: -73px -0px;}}
        &:nth-of-type(4)a{i{background-position: -115px -0px;}}  

        @include display(flex,flex-start,center);
        flex-wrap: wrap;
        // height:100px;
        padding:20px 0;
        border-bottom: 1px #ccc solid;
        &:first-child{border-top: 1px #ccc solid;}
        // &:last-child{border-bottom:none;}
        &:last-child{
          padding-bottom:0;
          .sub_menu_set{font-size: 14px; vertical-align: middle; margin-left:10px;}
        }
        ul.sub_menu{          
          background:#eee;
          width:100%;          
          margin-top:15px;
          text-align: left;
          li{
          padding:10px 0;
          border-bottom: 1px $clcc solid;
          padding-left:50px;
            a{font-size: 16px;}
            &:first-child{border-top:1px solid $clcc}
            &:last-child{border-bottom:none;}
          }
        }
      }
    }
    
  }



}


.main_left_dummy{
  background:$clwhite;
  width:230px;
  min-height:100%;
  border-right:1px #ccc solid;
  position: fixed;
}

//우측 
.main_right{
  @include layout(100%,0 auto,30px);  
  min-width:1400px;
  max-width: calc(1920px - 280px);
  margin-left:230px;
  margin-top:60px;
  position: relative;
  background:#f1f1f1;  
  //공통요소

  h3{
    font-size: 25px; font-weight: 600;
  }

}
  
footer{
  width:100%;
  position: absolute;
  bottom: 0;
  text-align: center;  
  font-size: 13px;


}


//쿠폰조회

.coupon{
  @include display(flex,flex-start,flex-start);
  padding-bottom:30px;
}

.counpon_search,.coupon_info{
  @include layout(650px,0,50px);
  background: $clwhite;
  border:1px solid #ccc;
  
}
//인풋, 버튼 공용
.coupon_number,.coupon_info{
  .text_normal{
    width:100%; 
    height:60px; 
    display: block; 
    text-align: center;}
  .btn{width:100%; height:60px;}
}
.coupon_number {
  width:100%;  
  text-align: center;
  >*{margin:15px 0;}
}

.coupon_keypad {
  @include layout(100%,20px 0,20px);
  overflow: hidden;
  background:#d9d9d9;
  @include display(flex,space-around,center);
  border-radius: 10px;

  //키패드공통
  .number , .sign{
    width: 32%;
    margin-bottom:2%;
    height:100px;
    cursor: pointer; 

  }
  //숫자
  .number {
    background: $clwhite;           
    border-radius: 10px;
    border:none;   
    font-size: 20px;
    font-weight: bold;
  }
  //기호
  .sign{
    width:60px;
    height:60px;
    background: transparent;
    border:1px solid #999;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    i{
      background-image: url(../img/icon_set.png);            
      background-position: -0px -0px;
      background-repeat: no-repeat;
      @include display(flex,center,center);
      margin: 0 auto;
      width: 30px;
      height: 30px;
    }
    i.reset{background-position:0px -27px }
    i.delete{background-position:-35px -28px}
  }
}

.coupon_info{
  margin-left:30px;
  &:nth-of-type(3n){margin-left:0;}
  display: none;

.coupon_detail{
  background:$clwhite;
  border:5px $glnavy solid;
  border-radius: 10px;
  @include display(flex,center,center);
  flex-direction: column;
  padding:30px 0;  
  
  >img{width:100%; max-width: 300px;}
  >ul{
    @include layout(450px,15px auto,0);
    
    li{
      padding:15px 0;
      border-bottom:1px solid $clcc;
      &:first-child{border-top:1px solid $clcc;}
      .title{
        width:100px;        
        display: inline-block;
        vertical-align: top;
      }
      .detail{
        font-weight: bold;
        width:calc(100% - 100px);
        display: inline-block;
        word-break: keep-all;
      }
    }
  }
}
}
.coupon_info2{
  .btn_2set{
    .btn{width:49%;}
  }
}

.coupon_cancle{
  width:100%;
  border:1px solid $clcc;
  padding:15px;
  overflow: auto;
  
  >table{
    overflow-x: scroll;
    border:1px solid $clcc;
    text-align: center;
    >thead{
      background:#E5EAED;
      height:70px;
      td{
        width:auto;
        min-width:150px;
        &.date{min-width:200px;}
      }
    }
    td{border:1px solid $clcc; font-size: 15px; padding:20px 0;}
    .btn{width:90%; height:40px;}
    

  }
}


//정산내역 페이지

.thinfo{
  >div{
    @include layout(100%,25px auto,25px);
    background:$clwhite;
    border:1px solid $clcc;
  }
  .title{font-weight: bold; margin:0 5px;}
  h4{
    display:inline-block;
    font-size:25px;
    vertical-align: sub;
    .point{color:$glmint;}
  }
}
.searchinfo{
  @include display(flex,flex-start,center );
  >div{
    margin-right:15px;    
  }

}
//공통요소
.day_set,.day_date{
  border:1px solid $clcc;
  background:$clwhite;
  height:30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color:$cl55;
}
.day_set{
  width:70px;
  margin-left:-6px;
  &:first-child{margin-left:0;}
}
.day_date{ padding:5px;
  
}
.thchart{  
  @include display(flex,space-around,center);  
  
  li{
    @include display(flex,space-between,center);
    &.content{
      @include display(flex,space-between,center);
        .circle{
          width:90px;
          height:90px;
          border-radius: 50px;
          position: relative;
          // display: inline-block;
          i{
            position: absolute;
            top:50%; left:50%;
            transform: translate(-50%,-50%);
            width:32px; height:30px;            
            background-image: url(../img/icon_set.png);            
            background-position: -0px -0px;
            background-repeat: no-repeat;
          }
        }
        .contentdeail{
          line-height: 27px;
          margin-left:15px;
          .title{
            font-size: .9rem;
          }
          .num{font-size:30px;}
        }

    }
    &:nth-of-type(1){div.circle{background:#3A9092;i{background-position: -72px -27px;}}}
    &:nth-of-type(3){div.circle{background:#863A92;i{background-position: -111px -27px;}}}
    &:nth-of-type(5){div.circle{background:#924A3A;i{background-position: -152px -27px;}}}
    &:nth-of-type(7){div.circle{background:#3A6D92;i{background-position: -190px -27px;}}}



    &.line{
      width:1px; 
      height:70px;
      background:$clcc;
      display: inline-block;
    }
  }
}


.table{
  >div{margin:20px 0;}
}

.table_summary{
  >div{
    display: inline-block;
    margin:0 10px;
  }
}

.table_case{
  // width:900px;
  overflow-x: scroll;
  border:1px solid $clcc;
  // border-bottom:1px solid $clcc;
  padding:5px;
  font-size: 14px;
  

}
.table_normal{
  @include layout(100%,0 auto,0);
  min-width: 1200px;
  margin-bottom:20px;
  //공통
  text-align: center;
  td{
    border:1px solid $clcc;
    min-width:80px;
    max-width:450px;
    padding:10px 5px;
  }
  thead{    
    tr{
      background:$glnavy;
      td{
        color:$clwhite;
      }
    }
  }
  tbody{
    // tr{
    //   td{}
    // }
    &.pointer{
      cursor: pointer;
      .alink{
        font-weight: bold; 
        text-decoration: underline;
        color: $glmint;
        padding:2px
      }
    }
  }
}

.popupdiv{
  background: rgba(0,0,0,0.85);
  width:100%; height:100%;
  z-index: 99;
  position: fixed;
  left:0; top:0;
}

.popup{
  width:350px; height:300px;
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  background:$clwhite;
  z-index: 99;
  // box-shadow : rgba(0,0,0,0.85) 0 0 0 9999px;
  box-shadow:  rgba(0,0,0,0.2) 7px 7px 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;

  button{
    width:100%;
    height:60px;
    border-radius: 20px;  
  }
  >div{
    @include layout(90%,0 auto,0);
  }
  .popup_icon{
    width:125px; height:125px;
    border-radius: 50%;
    position: absolute;
    top:-60px;left:50%;
    transform: translateX(-50%);
    @include display(flex,center,center);
    i{
      background-image: url(../img/icon_set.png);                  
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto;
      width: 53px;
      height: 53px;      
    }
  }
  .popup_content{
    @include display(flex,center,center);
    @include layout(90%,0 auto,0);
    padding-top: 40px;
    >p{
      width: 100%;
      word-break: keep-all;
      margin:10% 0 10% 0;
    }

  }
  //팝업 성공
  .success{
    .popup_icon{background:$glnavy;}
    i{background-position: -0px -58px;}
  }
  //팝업실패
  .failed{
    .popup_icon{background:$pointred;}
    i{background-position: -0px -58px;}
    button{background:$pointred;}
    .failed_msg{color:$pointred; font-weight: bold;}
  }
}
.popup_test{display: block;}